<% @spaces.each do |space|  %>
  <%= space.space_id %>
  <%= space.name %>
<% end %>

<% flash.keys.each do |alert| %>
  <div class="alert <%= alert.to_s.gsub('_', '-') %> alert-dismissible fade show" role="alert">
    <%= flash[alert] %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
 <% end %>
 
<body>
  <form action="/book" method="post">
    <input type="number" name="space_id">
    <input type="submit" name="Book space">
  </form>

</body>
