<% @spaces.each do |space|  %>
  <%= space.space_id %>
  <%= space.name %>
  <%= space.space_id %>
<% end %>
<body>
  <form action="/book" method="post">
    <input type="number" name="space_id">
    <input type="submit" name="Book space">
  </form>
</body>
