<% @spaces.each do |space|  %>
<ul style="list-style: none;" >
  <li>  <%= space.space_id %> </li>
  <li> <%= space.name %> </li>
</ul>
<% end %>
<body>
  <form action="/book" method="post">
    <input type="number" name="space_id">
    <input type="submit" name="Book space">
  </form>
</body>
