<form action = "/syncing" method="post">
  <label> Name
  <input type="text" name="name">
  </label>
  <label> Description
  <input type="text" name="description">
  </label>
  <label> Price
  <input type="number" name="price">
  </label>
  <label> Start date
  <input type="date" name="startdate">
  </label>
  <label> End date
  <input type="date" name="enddate">
  </label>
  <input type="submit" value="Create space">
</form>
<%=flash[:notice]%>
