<h1>Welcome to MakersBnB<h1>

<body>
    <h3>Login<h3>
    <form action='/options' method='post'>
        <label for="username">Username: </label>
        <input type="text" name="username"><br>
        <label for="password">Password: </label>
        <input type="password" name="password"><br><br>
        <input type="submit" value="Log in">
    </form>


    <h3>Sign Up<h3>
    <form action='/options/new_user' method='post'>
        <label for="username">Username: </label>
        <input type="text" name="new_username"><br>
        <label for="password">Password: </label>
        <input type="password" name="new_password"><br><br>
        <input type="submit" value="Sign Up">
    </form>

<body>