<h1>Welcome <%=@user.username%><h1>
<body>
    <form action='/create-space' method='get'>
        <input type='submit' value='List a space'>
    </form>
    <form action='/spaces' method='get'>
        <input type='submit' value='Book a space'>
    </form>
    <form action='/approve' method='post'>
        <input type='submit' value='Approve a space'>
    </form>
</body>
